@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-default: 24 150 255;
    --color-primary-200: 153 208 255;
    --color-primary-500: 24 150 255;

    --color-secondary-default: 168 168 168;
    --color-secondary-100: 231 231 231;
    --color-secondary-500: 168 168 168;
    --color-secondary-900: 39 39 39;

    --color-success: 0 128 0;
    --color-warning: 255 255 0;
    --color-danger: 255 0 0;

    --color-header: 231 231 231;
    --color-footer: 231 231 231;
    --color-section: 231 231 231;
}
